.service-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    overflow: hidden;
}

.service-content {
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.service-content p {
    font-size: clamp(1em, 3vw, 1.1em);
}

.services-list {
    position: relative;
    width: 100%;
    max-width: 1360px;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
}

.service-card {
    position: relative;
    width: 100%;
    max-width: 230px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #111;
    box-shadow: 0 0 30px rgba(17, 17, 17, 0.7);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.service-card::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    width: 50px;
    height: 50px;
    transform: scale(0);
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color-dark));
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.service-card::after {
    content: '';
    position: absolute;
    bottom: -10%;
    right: -10%;
    width: 70px;
    height: 70px;
    transform: scale(0);
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color-dark));
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.service-card h2 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.8em;
    text-align: center;
    margin-bottom: 16px;
}

.service-card img {
    width: 100%;
    max-width: 60px;
}

.service-card:hover p {
    color: #ededed;
}

.service-card:hover::before,
.service-card:hover::after {
    transform: scale(1);
}

.service-card:hover::after {
    transition-delay: 0.1s;
}

.service-card:hover {
    box-shadow: 0 0 200px #23273150;
}

@media screen and (max-width: 1024px) {
    .service-container {
        padding: 30px 50px;
    }

    .services-list {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 520px) {
    .service-container {
        padding: 25px;
    }

    .services-list {
        padding: 25px 0;
        grid-template-columns: repeat(1, auto);
    }
}